# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerEnabled On
PassengerAppRoot "/home/instagra/public_html"
PassengerBaseURI "/"
PassengerAppType node
PassengerStartupFile server.js
PassengerNodejs "/usr/bin/node"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/instagra/irapp"
PassengerBaseURI "/"
PassengerNodejs "/home/instagra/nodevenv/irapp/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
RewriteEngine On
RewriteCond %{THE_REQUEST} \s(/[^\s?]*)
RewriteRule ^ - [E=SEO_ORIG:%1]
